
h1{color: white;
background: deeppink;
border: 2px solid black;
padding: 5px;
font-weight: bold;
width: 50%;
text-align: center;
margin:auto;}

body{background: lightsteelblue;
font-family: arial, sans-serif;}

h2{font-style: italic;}
h3{color: hotpink;
background: floralwhite;
border: 2px solid black;
padding: 5px;
font-weight: bold;
font-style: italic;
font-size: 20px;
width: 70%;
margin: auto;
text-align: center;}

h4{color: blue;
background: floralwhite;
border: 2px solid black;
padding: 5px;
font-weight: 400;
font-style: normal;
font-size: 20px;
width: 70%;
margin: auto;
font-family:"Playwrite IN Guides", cursive;
text-align: center;}

h5{color:purple;
background: floralwhite;
border: 2px solid black;
padding: 5px;
font-weight: bold;
font-style: italic;
font-size: 20px;
width: 70%;
margin: auto;
font-family:Poppins, sans-serif;
text-align: center;}

h6 {color:black;
background: floralwhite;
border: 2px solid black;
padding: 5px;
font-weight: bold;
font-style: normal;
font-size: 20px;
width: 70%;
margin: auto;
font-family:"Gravitas One", serif;
text-align: center;}

.athletes {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 15px;
}
.athletes details, 
.hockey details, 
.basketball details{
	flex: 1;
	max-width: 33%;
}

.bio-heading{font-weight: bold;
font-size: 1.3em}
.career-heading{font-weight: bold;
	font-size: 1.3em;}
#notspecial{font-weight: bold;
font-size: 1.3em}

.hockey {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 15px;
}
.biography-heading{font-weight: bold;
font-size: 1.3em;}

.player-heading{font-weight: bold; 
	font-size: 1.3em;}
.basketball {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 15px;
}
#special{font-weight: bold;
	font-size: 1.3em;}
#statistics{font-weight: bold;
	font-size: 1.3em;}

.container {
	  display: flex;
	  gap: 20px;
	  justify-content: space-between;
	  flex-wrap: wrap;
}

img {display: block;
	margin: 20px auto;
	border-radius: 50px;}